.logo {
  width: 50px;
}
.mediaIcon {
  width: 50px;
  padding: 0 10px;
}
.info {
  font-size: 110%;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3;
  margin: 3px;
  letter-spacing: 1px;
}
.glow {
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px dodgerblue,
      0 0 5px dodgerblue, 0 0 5px dodgerblue, 0 0 5px dodgerblue,
      0 0 5px dodgerblue;
  }

  to {
    text-shadow: 0 0 7px #fff, 0 0 7px blueviolet, 0 0 7px blueviolet,
      0 0 7px blueviolet, 0 0 7px blueviolet, 0 0 7px blueviolet,
      0 0 7px blueviolet;
  }
}
